* {
  margin: 0;
 padding:0;
 box-sizing: border-box;
 font-family: 'Josefin Sans','Arial Narrow',sans-serif;
}

.header{
  width:100%;
  line-height: 150px;
  height: 80px;
  display:flex;
  justify-content: start;
  align-items: center;
  padding-left:50px;
  color:white;
  box-shadow: 5px 3px 15px -5px rgba(0,0,0,0.3);
  background-color: #f4b400;
}

.main_note{
  width:500px;
  padding:15px 10px 5px 10px;
  margin:20px auto;
}

.mynotes h1{
  color:#34495e;
}
.my_notes p{
  color:grey;
}

.note{
  width:300px;
  height: 130px;
  float:left;
  margin-left: 12px;
  padding-left: 5px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  margin-bottom: 5px;
}
.note h1{
  font-size: 1.1em;
  margin-bottom: 6px;
  padding-left: 5px;
}
.note p{
  font-size:1.1em;
  margin-bottom:10px;
  white-space:pre-wrap;
  word-wrap:break-word;
  padding-left: 5px;
}

.note .btn{
  position:relative;
  float:right;
}

form{
  min-height:60px;
  color:#ecf0f1;
  padding:15px 10px 28px 10px;
  box-shadow: 3px 5px 15px -5px rgba(0,0,0,0.5);
}

input{
  width:100%;
  line-height: 30px;
  background: transparent;
  border:none;
  outline:none;
  font-size:1.5rem;
  margin:10px 0;
  font-weight:bold;
}

textarea{
  width:100%;
  line-height:30px;
  background: transparent;
  border:none;
  outline:none;
  font-size: 1rem;
  margin:10px 0;
}
.MuiButton-root .plus_sign{
  font-size:45px !important;
  font-weight:900;
  color:#f4b400;
  cursor:pointer;
  z-index:222;
  background: transparent;
}
.MuiButton-root:hover{
  background:#f4b400 !important;
}

.MuiButton-root:hover .plus_sign{
  color:#fff;
  background:transparent;
}

.note .btn{
  position: relative;
  float:right;
  margin-right:10px;
  color:#f4b400;
  border: none;
  width:50px;
  height:50px;
  background:transparent;
  cursor:pointer;
  outline:none;
  box-shadow:3px 3px 15px -10px rgba(0,0,0,0.3);
  border-radius: 50%;
}

.note .btn:hover{
  background-color: #f5ba13;;
}

.deleteIcon{
  width:0.7em;
  height:0.7em;
}

.note .btn:hover .deleteIcon{
  color:#fff;
}

footer{
  width:100%;
  position: absolute;
  bottom:0;
  text-align: center;
  margin-bottom: 15px;
}

form .btn{
  
  float: right;
  border-radius: 100%;
  background-color: #fff;
}
form .btn:hover{
  color:white;
}

